form {
	display: inline;
}

.datatable thead tr th {
	background: #FFFFFF;
	font-weight: bold;
}

.bvalidator-gray-tooltip {
	z-index: 3;
}

td[align="center"] {
	text-align: center;
}

.form-control[disabled], fieldset[disabled] .form-control {
	cursor: not-allowed !important;
	background: #DDDDDD;
}

div.dataTables_wrapper div.dataTables_filter label {
	text-align: right;
}

div.dataTables_wrapper div.dataTables_length select {
	padding-left: 10px;
	padding-top: 0;
}

.input-group-addon {
	min-width: 50px;
}
